<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto">
  <div class="jumbotron col-12">
  <h1 class="text-center texto_titulo">APP Notas</h1>
  <div class="lead texto_normal">
    <p>Aplicación multiplataforma, desarrollada con el objetivo de que el usuario, desde cualquier dispositivo, pueda anotar sus:</p>
    <ul>
      <li>Tareas</li>
      <li>Quedadas</li>
      <li>Recordatorios</li>
    </ul>
  </div>
  <hr class="my-4">
  <button data-toggle="collapse" data-target="#imagenes" class="btn btn-success btn-block text-center texto_titulo mb-4">
    Esta aplicación ha sido desarrollada con <i class="far fa-hand-point-down"></i>
  </button>
  <div class="collapse" id="imagenes">
    <div class="container-fluid padding">
      <div class="row text-center">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 my-4" >
          <a href="https://www.mongodb.com/">
            <img  src="{{__dirname}}/imagenes/mongodb.png" title="mongoDB" alt="mongoDB">
          </a>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 my-4">
          <a href="https://es.wikipedia.org/wiki/Hoja_de_estilos_en_cascada">
            <img src="{{__dirname}}/imagenes/css.png" title="CSS3" alt="CSS3">
          </a>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 my-4">
          <a href="https://handlebarsjs.com/">
            <img src="{{__dirname}}/imagenes/handlebars.png" title="handlebars" alt="handlebars">
          </a>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 my-4">
          <a href="https://developer.mozilla.org/es/docs/HTML/HTML5">
            <img src="{{__dirname}}/imagenes/html.png" title="HTML5" alt="HTML5">
          </a>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 my-4">
          <a href="https://es.wikipedia.org/wiki/JavaScript">
            <img src="{{__dirname}}/imagenes/js.png" title="JavaScript" alt="JavaScript">
          </a>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 my-4">
          <a href="https://developer.mozilla.org/es/docs/Learn/Server-side/Express_Nodejs/Introduction">
            <img src="{{__dirname}}/imagenes/nodejsYexpress.png" title="nodejs Y express" alt="nodejsYexpress">
          </a>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 my-4">
          <a href="https://www.npmjs.com/package/passport">
            <img src="{{__dirname}}/imagenes/passport.png" title="passport" alt="passport">
          </a>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 my-4">
          <a href="https://fontawesome.com/">
            <img src="{{__dirname}}/imagenes/font-awesome.png" title="font awesome" alt="font-awesome">
          </a>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 my-4">
          <a href="https://getbootstrap.com/">
            <img src="{{__dirname}}/imagenes/bootstrap.png" title="bootstrap" alt="bootstrap">
          </a>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 my-4">
          <a href="https://www.npmjs.com/package/mongoose">
            <img src="{{__dirname}}/imagenes/mongoose.png" title="mongoose" alt="mongoose">
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
